.companies {
  padding: 0 10vw;
}

.companies h2 {
  margin: 0 0 2vw 0;
  font-size: 1rem;
  font-weight: var(--light, 300);
  color: var(--grey, #41505e);
}

.companies > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 5vw;
}

.companies > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.companies img {
  width: 100%;
  height: auto;
  max-height: 80px;
}
