@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'),
    url('../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

:root {
  --bg: #1d252c;
  --white: #ededed;
  --grey: #41505e;
  --highlight: #e0be24;

  --textSize: 17px;
  --light: 300;
  --bold: 700;
}

html {
  font-size: calc(var(--textSize) + (26 - 17) * (100vw - 400px) / (1600 - 400));
}

body {
  background-color: var(--bg, #1d252c);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: var(--light, 300);
  color: var(--white, #ededed);
}

h1 {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.25rem;
  line-height: 150%;
  color: var(--white);
}

p {
  margin: 0;
  line-height: 160%;
}

p:not(:last-child) {
  margin-bottom: 2em;
}

span {
  font-size: 12px;
  color: var(--grey);
  letter-spacing: 3px;
  text-transform: uppercase;
}

a {
  color: var(--white);
  text-decoration: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

a:hover {
  color: var(--highlight);
}

@media (min-width: 900px) {
  p, ul {
    line-height: 180%;
  }
}
