@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Mono Light'), local('RobotoMono-Light'),
    url('../fonts/Roboto_Mono/RobotoMono-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'),
    url('../fonts/Roboto_Mono/RobotoMono-Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

:root {
  --bg: #1d252c;
  --white: #ededed;
  --grey: #41505e;
  --highlight: #e0be24;

  --light: 300;
  --bold: 700;
}

html {
  font-size: calc(17px + (26 - 17) * (100vw - 400px) / (1600 - 400));
}

body {
  background-color: var(--bg, #1d252c);
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  font-weight: var(--light, 300);
  line-height: 160%;
  color: var(--white, #ededed);
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 2vw;
}

a {
  border-bottom: 1px solid var(--grey, #41505e);
  color: var(--white, #ededed);
  text-decoration: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

a.active {
  color: red;
}

a:hover {
  border-color: var(--highlight, #e0be24);
}
