.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 1px;
}

.portfolio > div {
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio > div:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
