.portfolio {
  margin-top: 10vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1px;
}

@media all and (min-width: 768px) {
  .portfolio {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (min-width: 1920px) {
  .portfolio {
    grid-template-columns: repeat(3, 1fr);
  }
}
